.header {
    padding: 25px 0 40px 0;
    background-color: var(--white);
}

.header_bg-grey {
    background-color: var(--grey-5);
}

.header__title {
    padding: 40px 0 0 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    margin: 0;

}

.header__row {
    display: flex;
    justify-content: space-between;
}

/*.header__logo {*/
/*    margin-bottom: 40px;*/
/*}*/

@media (max-width: 991px) {
    .header__title {
        font-size: 28px;
        line-height: 38px;
    }

    .header__logo {
        text-align: center;
    }
}
