/* Стилизация кнопки */
.button {
    width: 190px;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}
.button__primary {
    background-color: #4263EB;
}

.button__primary:hover {
    background-color: #2342C0;
}

.button--disabled {
    opacity: 0.5;
    pointer-events: none;
}

.button__secondary {
    background-color: var(--secondary);
}

.button__secondary:hover {
    background-color: #5028C6;
}

.button__alternate {
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
    background-color: #ffffff;
}

.button__alternate:hover {
    border: 1px solid var(--black);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper__row {
    margin: 10px;
}

.row__button {
    margin-top: 10px;
}

.wrapper__column {
    display: flex;
    flex-direction: column;
}