<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <link rel='stylesheet' href='sidebar.css'>
  <title>Sidebar</title>
</head>
<body>
  <div class='sidebar'>
  <h4 class='sidebar__title'>Components</h4>
  <nav>
    <ul class='sidebar__menu'>
      <li class='sidebar__menu-item'><a class='sidebar__link' href='#'>Modal</a></li>
      <li class='sidebar__menu-item'><a class='sidebar__link' href='#'>Tooltip</a></li>
      <li class='sidebar__menu-item'><a class='sidebar__link' href='#'>Avatar</a></li>
      <li class='sidebar__menu-item'><a class='sidebar__link' href='#'>Calendar</a></li>
      <li class='sidebar__menu-item'><a class='sidebar__link' href='#'>Histogram</a></li>
      <li class='sidebar__menu-item'><a class='sidebar__link' href='#'>Custom form elements</a></li>
      <li class='sidebar__menu-item'><a class='sidebar__link' href='#'>Main page</a></li>
    </ul>
  </nav>
</div>
</body>
</html>