.card {
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
    height: 367px;
    padding: 30px 25px;
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    box-sizing: border-box;
}

.card__body {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__footer {
    flex: 0 1 auto;
    padding-top: 24px;
}

.card__title {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
}

.card__subtitle {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var( --grey-4);

}


@media (max-width: 991px) {
    .card {
        flex-basis: 450px;
    }
    .card__title {
        font-size: 16px;
    }
    .card__subtitle {
        display: none;
    }
}

