/* Стилизация аккордеона */

.accordion__item {
    position: relative;
    padding: 24px 48px 24px 32px;
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--black);
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 8px;
    max-height: 80px;
    overflow: hidden;
}

.accordion__item[open] {
    max-height: 500px;
    transition: all 500ms ease-in-out;
}

.accordion__item[open] .accordion__arrow {
    transform: rotate(180deg);
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    list-style: none;
    cursor: pointer;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__text {
    padding-top: 16px;
    margin: 0;
}

.accordion__arrow {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 25px;
    right: 25px;
}

.accordion__arrow_transition {
    transition: all 500ms ease-in-out;
}
