.tabs {
    
}

.tabs__nav {
    background-color: var(--white);
}

.tabs__menu {
    display: flex;
    gap: 40px;
    padding-bottom: 8px;
    overflow-x: scroll;
}

.tabs__nav_item {
    position: relative;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-3);
    cursor: pointer;
    border-bottom: 5px solid transparent;
    transition: all 200ms ease;
}

.tabs__nav_item:after {
    content: '';
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    top: 100%;
    background-color: var(--black);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.tabs__divider {
    height: 1px;
    width: 100vw;
    background-color: var(--grey-2);
}

.tabs .tabs__control {
    position: absolute;
    width: 0;
    height: 0;
    outline: none;
    visibility: hidden;
    clip: rect(0, 0, 0, 0);
}

.tabs .tabs__content {
    display: none;
}

#all-tab:checked ~ .tabs__nav .tabs__nav_item[for='all-tab'],
#containers-tab:checked ~ .tabs__nav .tabs__nav_item[for='containers-tab'],
#elements-tab:checked ~ .tabs__nav .tabs__nav_item[for='elements-tab'],
#templates-tab:checked ~ .tabs__nav .tabs__nav_item[for='templates-tab'] {
    /*position: relative;*/
    color: var(--black);
}

#all-tab:checked ~ .tabs__nav .tabs__nav_item[for='all-tab']:after,
#containers-tab:checked ~ .tabs__nav .tabs__nav_item[for='containers-tab']:after,
#elements-tab:checked ~ .tabs__nav .tabs__nav_item[for='elements-tab']:after,
#templates-tab:checked ~ .tabs__nav .tabs__nav_item[for='templates-tab']:after {
    transform: scaleX(1);
}

#all-tab:checked ~ .tabs__content-all,
#containers-tab:checked ~ .tabs__content-containers,
#elements-tab:checked ~ .tabs__content-elements,
#templates-tab:checked ~ .tabs__content-templates {
   display: block;
}

.tabs__figure {
    margin: 0;
}
.tabs__pre {
    overflow-x: auto;
    font-family: monospace, monospace;
    font-size: 1em;
}
.tabs__code {
    font-family: monospace, monospace;
    font-size: 1em;
}

.tabs__accordion-title, .tabs__input-title {
    text-transform: uppercase;
    color: var(--grey-3);
    font-size: 28px;
    font-family: Inter, sans-serif;
}