.template__inner {

    font-family: Inter, sans-serif;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 56px;
}

.template__inner-content {
    padding: 32px 48px;
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

.template__inner-title {
    margin: 0 0 24px 0;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4);
}

/*.template__tabs {*/
/*    !*position: relative;*!*/
/*}*/

/*.template__tabs-control {*/
/*    position: absolute;*/
/*    width: 0;*/
/*    height: 0;*/
/*    outline: none;*/
/*    visibility: hidden;*/
/*    clip: rect(0, 0, 0, 0);*/
/*}*/

/*.template__tabs-menu {*/
/*    display: flex;*/
/*    gap: 40px;*/
/*}*/

/*.template__tabs .template__tabs-content {*/
/*    display: none;*/
/*}*/

/*.template__tabs-nav .template__tabs-item {*/
/*    position: relative;*/
/*    font-family: Inter, sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    color: var(--grey-3);*/
/*    cursor: pointer;*/
/*    border-bottom: 5px solid transparent;*/
/*    transition: all 200ms ease;*/
/*}*/

/*.template__tabs-nav .template__tabs-item:after {*/
/*    content: '';*/
/*    display: block;*/
/*    position: absolute;*/
/*    height: 5px;*/
/*    width: 100%;*/
/*    top: 100%;*/
/*    background-color: var(--black);*/
/*    transform: scaleX(0);*/
/*    transition: transform 250ms ease-in-out;*/
/*}*/

.template__tabs-divider {
    height: 1px;
    width: 100%;
    background-color: var(--grey-2);

}

#html-tab:checked ~ .tabs__nav .tabs__nav_item[for='html-tab'],
#css-tab:checked ~ .tabs__nav .tabs__nav_item[for='css-tab'] {
    color: var(--black);
}

#html-tab:checked ~ .tabs__nav .tabs__nav_item[for='html-tab']:after,
#css-tab:checked ~ .tabs__nav .tabs__nav_item[for='css-tab']:after {
    transform: scaleX(1);
}

#html-tab:checked ~ .tabs__content-html,
#css-tab:checked ~ .tabs__content-css {
    display: block;
}


.template__footer {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    padding: 92px 0 56px 0;
    text-align: center;
    background-color: var(--grey-5);
    height: 166px;
}

.template__footer-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}


@media (max-width: 991px) {
    .content-section {
        background-color: var(--white);
    }

    .template__inner {
        display: block;
    }

    .template__inner-content {
        border: none;
        box-shadow: var(--white);
    }

    .template__inner-title {
        font-size: 20px;
    }

    .template__footer {
        display: none;
    }

}
