.template__inner {

    font-family: Inter, sans-serif;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 56px;
}

.template__inner-content {
    padding: 32px 48px;
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

.template__inner-title {
    margin: 0 0 24px 0;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4);
}

.template__footer {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    padding: 92px 0 56px 0;
    text-align: center;
    background-color: var(--grey-5);
    height: 166px;
}

.template__footer-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.template__header {
    padding-bottom: 0;
    background-color: var(--grey-5);
    height: 82px;
}



@media (max-width: 991px) {
    .content-section {
        background-color: var(--white);
    }

    .template__inner {
        display: block;
    }

    .template__inner-content {
        border: none;
        box-shadow: var(--white);
    }

    .template__inner-title {
        font-size: 20px;
    }

    .template__footer {
        display: none;
    }

}
