.footer {
    padding: 71px 0 136px;
    min-height: 200px;
    background-color: var(--white);
    text-align: center;
}

.footer__title {
    padding-bottom: 32px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: var(--black);
}

.footer__text {
    padding: 0 218px 0 252px;
}